.navbar {
  flex: 1 1 16.6%;
  // height: 100vh;
  background: #333269;
  border-radius: 0px;
}

@media (max-width: 1400px) {
  .navbar {
    flex: 1 1 13.31%;
    min-width: 111px;
  }
}

@media (max-width: 480px) {
  .navbar {
    display: block;
    width: 100vw;
    position: fixed;
    height: 84px;
    bottom: 0;
    filter: drop-shadow(-3px -3px 20px rgba(0, 0, 0, 0.05));
    background: white;
  }
}
