.success-flag {
  position: absolute;
  top: 0;
  right: 14px;
  //
  background: #5855d6;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 10px 10px;

  font-weight: 500;
  font-size: 8px;
  line-height: 9px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;

  width: 56px;
  height: 49px;

  img {
    width: 19px;
    height: 16px;
    padding-bottom: 5px;
  }

  &.red {
    background-color: red;
  }
}

@media (max-width: 480px) {
  .ad-flag {
    background: rgba(88, 85, 214, 0.7);
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
  }
}
