@import "reset.scss";
@import "fonts.scss";
@import "variables.scss";
@import "mixins.scss";

@import "./ecomm/**/*.scss";

body {
  font-family: var(--font-body);
  font-style: normal;
  font-weight: normal;
}
